---
import Base from "../layouts/base.astro";
---

<Base title="acerca de mi | jorgejhms.net" description="Prueba">
  <h2>acerca de mi</h2>

  <figure class="portrait">
    <img
      src="/public/media/2022/03/jorge_normal.webp"
      alt="Foto de Jorge Meneses"
      srcset="/public/media/2022/03/jorge_normal.webp 1x, /public/media/2022/03/jorge_retina.webp 2x"
    />
    <figcaption>
      Posando en los exteriores de la Universidad de Potsdam (2018)
    </figcaption>
  </figure>

  <p>
    Mi nombre es Jorge Meneses. Soy <mark>sociólogo</mark> y Mg. en <mark
      >gestión pública</mark
    >. Ahora estoy aprendiendo <mark>desarrollo web</mark> y espero convertirme pronto
    en un desarrollador <mark>Full-Stack</mark>.
  </p>

  <p>Tengo experiencia en investigación social y en el análisis de datos.</p>

  <h3>mis grados</h3>
  <div class="columns">

    <div class="degree">
      <figure class="university_logo">
        <img src="/public/media/2022/03/logo_up.webp" alt="Logo de la Universidad de Potsdam" />
      </figure>
      <p class="centered">magister en <mark>gestión pública</mark></p>
      <p class="centered"><mark>2018</mark></p>
    </div>

    <div class="degree">
      <figure class="university_logo">
        <img src="/public/media/2022/03/logo_pucp.webp" alt="Logo de la Universidad Católica del Perú" />
      </figure>
      <p class="centered">licenciado en <mark>sociología</mark></p>
      <p class="centered"><mark>2014</mark></p>
    </div>

  </div>
</Base>

<style lang="scss">
  .portrait {
    max-width: 100%;

    img {
      border-radius: 50%;
    }
  }

  .university_logo {
    //   max-width: 100%;
      height: 150px;
      padding: 1em;
  }
</style>
