<button>
  <slot />
</button>

<style>
  button {
    background-color: var(--color-purple);
    border: 0;
    border-radius: 10px;
    padding: 0.5em 1em;
    font-weight: bold;
    cursor: pointer;
    font-family: var(--font-header);
  }
</style>
