---
const { href ='#' } = Astro.props;
---

<button>
  <a href={href}><slot /></a>
</button>

<style lang="scss">
  button {
    background-color: var(--color-purple);
    border: 0;
    border-radius: 10px;
    padding: 0.5em 1em;
    font-weight: bold;
    cursor: pointer;
    font-family: var(--font-header);

    a {
      color: var(--color-bg);
      text-decoration: none;
    }
  }
</style>
