---
const year = new Date().getFullYear(); // Obtiene el año actual
---

<p>
  ©{year} jorgejhms. Desarrollado con <a href="https://astro.build/">Astro</a>
</p>

<style>
  p {
    margin-block: 0;
  }
</style>
