<div class="header-wrapper">
  <div class="logo-wrapper">
    <h1 id="logo_title">jorgejhms</h1>
    <h2 id="tagline">Sociólogo y desarrollador web</h2>
  </div>

  <i class="fa-solid fa-bars" id="mobile-menu-icon"></i>
</div>

<div class="mobile-menu-wrapper" id="mobile-menu-wrapper">
  <p id="mobile-menu-close-button"><i class="fa-solid fa-xmark"></i> Cerrar</p>

  <nav>
    <ul id="mobile-menu">
      <li><a href="/">01. inicio</a></li>
      <li><a href="/about">02. acerca de mi</a></li>
      <li><a href="/portfolio">03. portafolio</a></li>
      <li>04. mi experiencia</li>
      <li>05. blog</li>
      <li>06. contácteme</li>
    </ul>
  </nav>
</div>

<nav>
  <ul id="desktop-menu">
    <li>01. inicio</li>
    <li>02. acerca de mi</li>
    <li>03. portafolio</li>
    <li>04. mi experiencia</li>
    <li>05. blog</li>
    <li>06. contácteme</li>
  </ul>
</nav>

<script>
  const mobileMenuIcon = document.getElementById("mobile-menu-icon");
  const closeButton = document.getElementById("mobile-menu-close-button");
  const mobileMenuWrapper = document.getElementById("mobile-menu-wrapper");

  mobileMenuIcon.onclick = () => {
    mobileMenuWrapper.style.display = "grid";
  };

  closeButton.onclick = () => {
    mobileMenuWrapper.style.display = "none";
  };
</script>

<style>
  h1 {
    color: var(--color-green);
    text-align: left;
    font-family: var(--font-header);
    text-decoration: underline double;
    font-style: italic;
    font-size: clamp(2.2rem, 1px + 7vw, 3.12rem);
    margin: 0.2em 0;
    transition: all 0.2s ease-in-out;
  }

  h2 {
    font-family: var(--font-header);
    font-size: 0.8rem;
    text-align: left;
    font-weight: 300;
    color: var(--color-cyan);
  }

  ul {
    list-style: none;
    font-family: var(--font-header);
  }

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #mobile-menu-icon {
    color: var(--color-text);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  #mobile-menu-icon:hover {
    color: var(--color-green);
  }

  .mobile-menu-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--color-bg);
    display: none;
    place-items: center;
    margin: auto;
    padding: 0;
    opacity: 0.8;
  }

  #mobile-menu {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;

    ul li {
      font-size: 1rem;
    }
  }

  #desktop-menu {
    display: none;

    ul {
      font-size: 1.25rem;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
    }
  }

  #mobile-menu-close-button {
    position: absolute;
    right: 2em;
    top: 2em;
    font-family: var(--font-header);
    font-size: 0.9rem;
    cursor: pointer;
  }
</style>
