---
//src/layouts/base.astro
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import "../scss/global.scss";
import "../../node_modules/normalize.css/normalize.css";
const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/54d0e7e6da.js"
      crossorigin="anonymous"></script>
    <title>{title}</title>
  </head>
  <body>
    <header id="header">
      <Header />
    </header>

    <main>
      <slot />
    </main>

    <footer>
      <Footer />
    </footer>
  </body>
</html>
<script>
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
    document.getElementById("logo_title").style.fontSize = "1.2rem";
    document.getElementById("header").style.padding = "0.4em";
    document.getElementById("tagline").style.display = "none";
  } else {
    document.getElementById("logo_title").style.fontSize = "2.2rem";
    document.getElementById("header").style.padding = "";
    document.getElementById("tagline").style.display = "";
  }
}
</script>
