---
import '../scss/global.scss'
---
<style>
h1{
    color: var(--color-green);
    text-align: center;
    font-family: var(--font-header);
    text-decoration: underline double;
    font-style: italic;
    font-size: 3.12rem;
}

h2 {
    font-family: var(--font-header);
    font-size: 1rem;
    text-align: center;
    font-weight: 300;
    color: var(--color-cyan);
}
    ul {
        list-style: none;
        font-family: var(--font-header);
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

   
</style>

<h1>jorgejhms</h1>
<h2>Sociólogo y desarrollador web</h2>

<nav>
<ul>
    <li>01. inicio</li>
    <li>02. acerca de mi</li>
    <li>03. portafolio</li>
    <li>04. mi experiencia</li>
    <li>05. blog</li>
    <li>06. contácteme</li>
</ul>
</nav>